apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-config
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  config.yaml: |
    server_url: http://192.168.1.193:8080 # kpt-set: http://${cluster-lan-headscale-inetaddr}:8080
    listen_addr: 0.0.0.0:8080
    metrics_listen_addr: 0.0.0.0:9090
    grpc_listen_addr: 0.0.0.0:50443
    grpc_allow_insecure: true

    tls:
      letsencrypt_hostname: ""
      letsencrypt_cache_dir: ""
      letsencrypt_challenge_type: ""
      cert_path: ""
      key_path: ""

    private_key_path: /var/lib/headscale/private.key
    noise:
      private_key_path: /var/lib/headscale/noise_private.key

    prefixes:
      v4: 100.64.0.0/10
      v6: fd7a:115c:a1e0::/48

    derp:
      server:
        enabled: false
      urls: []
      paths:
        - /etc/headscale/derp.yaml
      auto_update_enabled: false
      update_frequency: 24h

    disable_check_updates: true
    ephemeral_node_inactivity_timeout: 30m
    database:
      type: sqlite
      sqlite:
        path: /var/lib/headscale/db.sqlite

    policy:
      mode: file
      path: /etc/headscale/acl.json

    dns:
      base_domain: lan
      nameservers:
        global:
          - 192.168.1.254
          - 1.1.1.1
          - 8.8.8.8
      magic_dns: true

    log:
      format: text
      level: info
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-acl
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  acl.json: |
    {
      "groups": {
        "group:admin": []
      },
      "tagOwners": {
        "tag:darwin": ["group:admin"],
        "tag:nixos": ["group:admin"],
        "tag:rke2": ["group:admin"]
      },
      "acls": [
        {
          "action": "accept",
          "src": ["*"],
          "dst": ["*:*"]
        }
      ],
      "ssh": [
        {
          "action": "accept",
          "src": ["group:admin", "tag:darwin", "tag:nixos"],
          "dst": ["*"],
          "users": ["autogroup:nonroot", "root"]
        }
      ]
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-derp
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  derp.yaml: |
    regions:
      900:
        regionid: 900
        regioncode: local
        regionname: Local LAN
        nodes: []
