[Unit]
Description=Install Tekton Pipelines manifests from host share (post-server)
RequiresMountsFor=/srv/host/system.d /srv/host
After=local-fs.target
After=rke2lab-mesh-manifests.service
Requires=rke2lab-mesh-manifests.service
After=rke2lab-replication-manifests.service
Requires=rke2lab-replication-manifests.service
After=rke2lab-cicd-secrets.service
Requires=rke2lab-cicd-secrets.service
ConditionPathExists=/srv/host/scripts.d/rke2lab-manifests-install.sh
ConditionPathExists=/srv/host/manifests.d/cicd/tekton-pipelines

[Service]
Type=oneshot
ExecStart=/srv/host/scripts.d/rke2lab-manifests-install.sh cicd/tekton-pipelines
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=rke2lab.target