[Unit]
Description=RKE2Lab Flox Nix Build Service (from YAML descriptor)
RequiresMountsFor=/srv/host/git /srv/host/nix-builds.yaml
After=local-fs.target
Before=rke2lab-flox-nix-builds-complete.target
ConditionPathExists=/srv/host/nix-builds.yaml

[Service]
Type=oneshot
ExecStart=/srv/host/scripts.d/rke2lab-nix-build.sh /srv/host/nix-builds.yaml
RemainAfterExit=true
StandardOutput=journal
StandardError=journal
Environment="PATH=/usr/bin:/nix/var/nix/profiles/default/bin"

[Install]
WantedBy=multi-user.target