[Unit]
Description=Install RKE2 mesh manifests from host share (post-server)
RequiresMountsFor=/srv/host/system.d /srv/host
After=local-fs.target
After=rke2-networking-ready-check.service
Requires=rke2-networking-ready-check.service
After=rke2-replication-ready-check.service
Requires=rke2-replication-ready-check.service
After=rke2-mesh-secrets.service
Requires=rke2-mesh-secrets.service
ConditionPathExists=/srv/host/scripts.d/rke2-manifests-install.sh
ConditionPathExists=/srv/host/manifests.d/mesh

[Service]
Type=oneshot
ExecStart=/srv/host/scripts.d/rke2-manifests-install.sh mesh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target