[Unit]
Description=Remount RKE2 required volumes as shared
Before=rke2-server.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/.rke2lab/scripts.d/rke2-remount-shared.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
