[Unit]
Description=Run RKE2 Installation Script
After=network-online.target systemd-networkd.service local-fs.target rke2-network-config.service rke2-network-wait.service
Wants=network-online.target systemd-networkd.service rke2-network-config.service rke2-network-wait.service
Requires=rke2-network-config.service
RequiresMountsFor=/.rke2lab/scripts.d
ConditionPathExists=/.rke2lab/scripts.d/rke2-install.sh
ConditionPathExists=!/etc/systemd/system/rke2-server.service
ConditionPathExists=!/etc/systemd/system/rke2-agent.service

[Service]
Type=oneshot
ExecStartPre=/.rke2lab/scripts.d/rke2-install-pre.sh
ExecStart=/.rke2lab/scripts.d/rke2-install.sh
ExecStartPost=/.rke2lab/scripts.d/rke2-install-post.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
