[Unit]
Description=RKE2 Lab Tools Installation Target
After=rke2lab-network.target
Wants=rke2lab-nix-install.service rke2lab-flox-install.service

[Install]
WantedBy=rke2lab.target
