[Unit]
Description=Install RKE2 networking manifests from host share (post-server)
RequiresMountsFor=/srv/host/system.d /srv/host
After=local-fs.target
After=rke2-server.service
Requires=rke2-server.service
After=rke2-storage-ready-check.service
Requires=rke2-storage-ready-check.service
Wants=rke2-networking-ready-check.service
ConditionPathExists=/srv/host/scripts.d/rke2-manifests-install.sh
ConditionPathExists=/srv/host/manifests.d/networking

[Service]
Type=oneshot
ExecStart=/srv/host/scripts.d/rke2-manifests-install.sh networking
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
