[Unit]
Description=Wait for RKE2 replication layer to be ready
RequiresMountsFor=/srv/host/system.d /srv/host
After=local-fs.target
After=rke2-replication-manifests-install.service
Requires=rke2-replication-manifests-install.service
ConditionPathExists=/srv/host/scripts.d/rke2-layer-ready-check.sh
ConditionPathExists=/srv/host/manifests.d/replication

[Service]
Type=oneshot
ExecStart=/srv/host/scripts.d/rke2-layer-ready-check.sh replication
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target