[Unit]
Description=Wait for RKE2 networking workloads to be ready
RequiresMountsFor=/srv/host/system.d /srv/host
After=local-fs.target
After=rke2-networking-manifests-install.service
Requires=rke2-networking-manifests-install.service
ConditionPathExists=/srv/host/scripts.d/rke2-cilium-check.sh
ConditionPathExists=/srv/host/manifests.d/networking

[Service]
Type=oneshot
ExecStart=/srv/host/scripts.d/rke2-cilium-check.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target