[Unit]
Description=RKE2 Nix Builds Complete Target
Documentation=https://github.com/nxmatic/rke2lab
After=rke2-server-ready.target
Requires=rke2-server-ready.target
After=rke2-nix-build.service
Requires=rke2-nix-build.service

[Install]
WantedBy=multi-user.target
