[Unit]
Description=Run RKE2Lab Installation Script
After=network-online.target systemd-networkd.service local-fs.target rke2lab-network-config.service rke2lab-network-wait.service
Wants=network-online.target systemd-networkd.service rke2lab-network-config.service rke2lab-network-wait.service
Requires=rke2lab-network-config.service
RequiresMountsFor=/srv/host/scripts.d
ConditionPathExists=/srv/host/scripts.d/rke2-install.sh
ConditionPathExists=!/etc/systemd/system/rke2-server.service
ConditionPathExists=!/etc/systemd/system/rke2-agent.service

[Service]
Type=oneshot
ExecStartPre=/srv/host/scripts.d/rke2-install-pre.sh
ExecStart=/srv/host/scripts.d/rke2-install.sh
ExecStartPost=/srv/host/scripts.d/rke2-install-post.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target