[Unit]
Description=RKE2 Nix Build Service (from YAML descriptor)
RequiresMountsFor=/srv/host/git /srv/host/nix-builds.yaml
After=local-fs.target
After=rke2-server-ready.target
Requires=rke2-server-ready.target
Before=rke2-builds-complete.target
ConditionPathExists=/srv/host/nix-builds.yaml

[Service]
Type=oneshot
ExecStart=/run/current-system/sw/bin/bash /srv/host/scripts.d/rke2-nix-build.sh /srv/host/nix-builds.yaml
RemainAfterExit=true
StandardOutput=journal
StandardError=journal
Environment="PATH=/run/current-system/sw/bin:/nix/var/nix/profiles/default/bin"

[Install]
WantedBy=multi-user.target