[Unit]
Description=Apply RKE2 runtime secrets
RequiresMountsFor=/srv/host/system.d /srv/host
After=local-fs.target
After=rke2-server.service
Requires=rke2-server.service
ConditionPathExists=/srv/host/scripts.d/rke2-layer-secrets-apply.sh

[Service]
Type=oneshot
ExecStart=/srv/host/scripts.d/rke2-layer-secrets-apply.sh runtime
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target