---
apiVersion: v1
data:
  acl.json: |
    {
      "groups": {
        "group:admin": []
      },
      "tagOwners": {
        "tag:darwin": ["group:admin"],
        "tag:nixos": ["group:admin"],
        "tag:rke2": ["group:admin"]
      },
      "acls": [
        {
          "action": "accept",
          "src": ["*"],
          "dst": ["*:*"]
        }
      ],
      "ssh": [
        {
          "action": "accept",
          "src": ["group:admin", "tag:darwin", "tag:nixos"],
          "dst": ["*"],
          "users": ["autogroup:nonroot", "root"]
        }
      ]
    }
kind: ConfigMap
metadata:
  annotations:
    internal.kpt.dev/upstream-identifier: '|ConfigMap|${headscale-namespace}|headscale-acl'
    kpt.dev/package-layer: mesh
    kpt.dev/package-name: headscale
  name: headscale-acl
  namespace: headscale-system
