[Unit]
Description=Initialize Cluster API management core via clusterctl
RequiresMountsFor=/srv/host/systemd-units.d /srv/host
After=local-fs.target
After=rke2lab-networking-manifests.service
Requires=rke2lab-networking-manifests.service
ConditionPathExists=/srv/host/systemd-scripts.d/rke2lab-cluster-api-install.sh

[Service]
Type=oneshot
ExecStart=/srv/host/systemd-scripts.d/rke2lab-cluster-api-install.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=rke2lab.target