[Unit]
Description=Install RKE2Lab storage manifests from host share (post-server)
RequiresMountsFor=/srv/host/systemd-units.d /srv/host
After=local-fs.target
After=rke2lab-runtime-manifests.service
Requires=rke2lab-runtime-manifests.service
ConditionPathExists=/srv/host/systemd-scripts.d/rke2lab-manifests-install.sh
ConditionPathExists=/srv/host/rke2-manifests.d/storage

[Service]
Type=oneshot
ExecStart=/srv/host/systemd-scripts.d/rke2lab-manifests-install.sh storage
ExecStartPost=/srv/host/systemd-scripts.d/rke2lab-openebs-ready.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=rke2lab.target