[Unit]
Description=Configure DBus system bus TCP listener on master node
Documentation=https://github.com/nxmatic/rke2lab
After=network-online.target systemd-networkd.service rke2lab-network.target dbus.socket
Wants=network-online.target systemd-networkd.service rke2lab-network.target
RequiresMountsFor=/srv/host/systemd-scripts.d
ConditionPathExists=/srv/host/systemd-scripts.d/rke2lab-dbus-tcp-system-bus.sh

[Service]
Type=oneshot
ExecStart=/srv/host/systemd-scripts.d/rke2lab-dbus-tcp-system-bus.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=rke2lab.target
